<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title H o m e
    body
        - const page = 'home';
        include includes/nav
        
        h1 Welcome
       
        include includes/footer